.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#Database
*.sqlite3

#Python env
env/

#Python
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
backend\media
migrations

#db
data.json